<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zly.mapper.CarImagesMapper" >
  <resultMap id="BaseResultMap" type="com.zly.pojo.CarImages" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="d_id" property="dId" jdbcType="INTEGER" />
    <result column="images_url" property="imagesUrl" jdbcType="VARCHAR" />
    <result column="c_id" property="cId" jdbcType="INTEGER" />
  </resultMap>
</mapper>