<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zly.mapper.ShappingCarMapper">
  <resultMap id="BaseResultMap" type="com.zly.pojo.ShappingCar">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="car_id" jdbcType="INTEGER" property="carId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="is_pay" jdbcType="CHAR" property="isPay" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
  </resultMap>


</mapper>